<div class="nested-fields">
  <div class="field">
    <%= f.label :company %>
    <%= f.text_field :company %>
  </div>


  <div class="field">
    <%= f.label :ocuppation %>
    <%= f.text_field :ocuppation %>
  </div>


  <div class="field">
    <%= f.label :period %>
    <%= f.text_field :period %>
  </div>

  <%= link_to_remove_association "remove experience", f %>

  <br><br><br>

</div>
